<!DOCTYPE HTML>
<html lang="pt-br">
    <head>
        <meta http-equiv = "content-type" content = "text/html; charset=UTF-8">
        {% block head %}
        	<title>{% block title %}Template{% endblock %}</title>
        {% endblock %}
    </head>
    <body>

		<div id="content">{% block content %}{% endblock %}</div>
        
        <br>
		<div id="footer">
	        {% block footer %}
	            &copy; Copyright 2018 by <a href="http://valdineireis.com.br/" target="_blank">ValdineiReis</a>.
	        {% endblock %}
    	</div>

    </body>
</html>